@model AddGalleryPhotoModel
 @{
    ViewBag.Title =  "Add Gallery Photos ";
}

<div>
    @await Html.PartialAsync("_EventTopBannerPartial")
</div>

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" asp-controller="GalleryPhotos" enctype="multipart/form-data" method="post" asp-area="">
            <div class="mb-3">
                <label asp-for="@Model.EventName" class="form-label-add-edit">Name</label>
            </div>
            <div class="mb-3">

                <label class="form-label-add-edit">Select Photos for your Event Gallery <span class="font-italic">(.jpg, .jpeg, .png)</span></label>
                <div class="custom-file">
                    <input asp-for="@Model.GalleryPhotos" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon01"/>
                    <label class="custom-file-label">Choose files</label>
                </div>


                <script>
                                                                                             $('#inputGroupFile03').on('change',function(){
                                                                                                 //get the file name
                                                                                                 var fileName = $(this).val();
                                                                                                 //replace the "Choose a file" label
                                                                                                 $(this).next('.custom-file-label').html(fileName);
                                                                                             })
                                                                                  </script>
            </div>

            <input type="hidden" asp-for="@Model.EventId" class="form-control" value="@Model.EventId"/>
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold"
                       type="submit"
                       value="Add"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

<form asp-action="Add" asp-controller="GalleryPhotos" enctype="multipart/form-data" method="post" asp-area="">
    <div class="mb-3">
        <label asp-for="@Model.EventName" class="form-label-add-edit">Name</label>
    </div>
    <div class="mb-3">

        <label class="form-label-add-edit">Select Photos for your Event Gallery <span class="font-italic">(.jpg, .jpeg, .png)</span></label>
        <div class="custom-file">
            <input asp-for="@Model.GalleryPhotos" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon01"/>
            <label class="custom-file-label">Choose files</label>
        </div>


        <script>
                                                                                      $('#inputGroupFile03').on('change',function(){
                                                                                          //get the file name
                                                                                          var fileName = $(this).val();
                                                                                          //replace the "Choose a file" label
                                                                                          $(this).next('.custom-file-label').html(fileName);
                                                                                      })
                                                                           </script>
    </div>

    <input type="hidden" asp-for="@Model.EventId" class="form-control" value="@Model.EventId"/>
    <div class="mb-3">
        <input class="btn btn-warning mb-2 w-100 p-3 fw-bold"
               type="submit"
               value="Add"/>
    </div>
</form>