@using BikingBuddy.Common
@using Microsoft.AspNetCore.Mvc.Rendering
@model UserDetailsViewModel

<div class="row">
    <div class="card w-100">
        <div class="card-body">

            @if (Model.ProfileImageUrl != null)
            {
                <img class="img-fluid" style="width: 18rem;"
                 src="@Model.ProfileImageUrl" alt="UserImage">
            }
            <h3 class="card-title text-center">@Model.Name</h3>
            <p class="mb-0">
                <span class="fw-bold">Address: </span>@Model.Town , @Model.Country
            </p>
            @*
            <p class="mb-0"><span class="fw-bold">BikeID: </span>@Model.BikeId</p>
            *@
            <p class="mb-0"><span class="fw-bold">Shoes: </span>@Model.Shoes</p>
            <p class="mb-0"><span class="fw-bold">Helmet: </span>@Model.Helmet</p>
            <p class="mb-0"><span class="fw-bold">tEAMid: </span>@Model.Team</p>
            <p class="mb-0"><span class="fw-bold">Total Distance: </span>@Model.TotalDistance</p>
            <p class="mb-0"><span class="fw-bold">Total Ascent: </span>@Model.TotalAscent</p>


            <a asp-controller="Event" asp-action="All" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Back to All Events</a>
        </div>






    </div>
</div>