@using BikingBuddy.Common
@using Microsoft.AspNetCore.Mvc.Rendering
@model UserDetailsViewModel



<h1>Sharp Profile Widget</h1>
<div class="container-fluid">

     <div class = "row" >

<div class="container-fluid col-4 ">
    <div class="profile-agileinfo">
        <div class="pr-inner">
            <img src="~/images/p1.jpg"alt=" " />
            <h2>Robert Doe</h2>
            <h3>Web Developer</h3>
            <p class="mb-0"><span class="fw-bold text-danger">Shoes: </span>@Model.Shoes</p>
            <p class="mb-0"><span class="fw-bold">Helmet: </span>@Model.Helmet</p>
            <p class="mb-0"><span class="fw-bold">tEAMid: </span>@Model.Team</p>
            <p class="mb-0"><span class="fw-bold">Total Distance: </span>@Model.TotalDistance</p>
            <p class="mb-0"><span class="fw-bold">Total Ascent: </span>@Model.TotalAscent</p>
            <div class="profile-bottom-w3-part2">
                <div class="profile-bottom-w3-part2-left">
                    <h4>@Model.TotalDistance</h4>
                    <h5>Total Distance</h5>
                </div>
                <div class="profile-bottom-w3-part2-middle">
                  
                </div>
                <div class="profile-bottom-w3-part2-right">
                    <h4>@Model.TotalAscent</h4>
                    <h5>Total Ascent</h5>
                </div>

            </div>
        </div>
        <div class="mail">
            <div class="mail-left">
                <p><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span><a href="mailto:info@example.com">info@example.com</a></p>

            </div>
            <div class="contact-right">
                <p><span><i class="fa fa-phone" aria-hidden="true"></i></span>+123456789<p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="login-left">
            <h3>Follow me</h3>
            <ul>
                <li><a class="fb" href="#"><i></i>Facebook</a></li>
                <li><a class="goog" href="#"><i></i>Twitter</a></li>
            </ul>
        </div>


        <div class="clear"></div>
    </div>
    <div class="clear"></div>


</div>







<div class="container-fluid col-8">
    <div class="card w-100">
        <div class="card-body">

            @if (Model.ProfileImageUrl != null)
            {
                <img class="img-fluid" style="width: 18rem;"
                 src="@Model.ProfileImageUrl" alt="UserImage">
            }
            <h3 class="card-title text-center">@Model.Name</h3>
            <p class="mb-0">
                <span class="fw-bold">Address: </span>@Model.Town , @Model.Country
            </p>
            @*
            <p class="mb-0"><span class="fw-bold">BikeID: </span>@Model.BikeId</p>
            *@
            <p class="mb-0"><span class="fw-bold">Shoes: </span>@Model.Shoes</p>
            <p class="mb-0"><span class="fw-bold">Helmet: </span>@Model.Helmet</p>
            <p class="mb-0"><span class="fw-bold">tEAMid: </span>@Model.Team</p>
            <p class="mb-0"><span class="fw-bold">Total Distance: </span>@Model.TotalDistance</p>
            <p class="mb-0"><span class="fw-bold">Total Ascent: </span>@Model.TotalAscent</p>


            <a asp-controller="Event" asp-action="All" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Back to All Events</a>
        </div>






    </div>
</div>
    </div>
</div>