@model EditUserViewModel
@{
    ViewBag.Title = $"Edit Team {Model.Name}";
}

<div class="row parallax_adminBody">

    <div class="col-1"></div>
    <div class="col-6" style=" margin: 12rem 0 40rem 0; ">

        <div class="justify-content-center"> 
            <section class="col-8">
                <h1 class="text-left">@ViewData["Title"]</h1>
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    
                     @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <label asp-for="@Model.Name" class="form-label-add-edit text-white">Name</label>
                        <input asp-for="@Model.Name" class="form-control" aria-required="true" rows="5"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="@Model.Helmet" class="form-label-add-edit text-white">Helmet</label>
                        <input asp-for="@Model.Helmet" class="form-control" aria-required="true" rows="5"/>
                        <span asp-validation-for="Helmet" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Shoes" class="form-label-add-edit text-white">Shoes</label>
                        <input asp-for="@Model.Shoes" class="form-control" aria-required="true"/>
                        <span asp-validation-for="@Model.Shoes" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.CountriesCollection" class="form-label-add-edit text-white">Country</label>
                        <select asp-for="@Model.CountryId" class="form-control" aria-required="true">
                            @foreach (var type in Model.CountriesCollection)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        </select>
                        <span asp-validation-for="@Model.CountryId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Town" class="form-label-add-edit text-white">Town</label>
                        <input asp-for="@Model.Town" class="form-control" aria-required="true"/>
                        <span asp-validation-for="@Model.Town" class="text-danger"></span>
                    </div>
                    <div class="mb-3">

                        <label class="form-label-add-edit text-white">Select File for event cover photo <span class="font-italic ">(.jpg, .jpeg, .png)</span></label>
                        <div class="custom-file">
                            <input asp-for="@Model.ProfileImage" class="custom-file-input" id="inputGroupFile02" aria-describedby="inputGroupFileAddon01"/>
                            <label class="custom-file-label">Choose file</label>
                        </div>
                        <span asp-validation-for="@Model.ProfileImage" class="text-danger"></span>

                        <span asp-validation-for="@Model.FileName" class="text-danger"></span>

                        <script>
                                                         $('#inputGroupFile02').on('change',function(){
                                                             //get the file name
                                                             var fileName = $(this).val();
                                                             //replace the "Choose a file" label
                                                             $(this).next('.custom-file-label').html(fileName);
                                                         })
                                                     </script>
                    </div>

                    <div class="mb-3">
                        <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" asp-route-Id="@Model.Id" type="submit" value="Comfirm Changes"/>
                    </div>
                </form>
            </section> 
            
        </div>
    </div>

    <div class="col-5"></div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

