@model UserDetailsViewModel
<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <img class="img-fluid" style="width: 18rem;"
                 src="@Model.ProfileImageUrl" alt="UserImage">
            <h3 class="card-title text-center">@Model.Name</h3>
            <p class="mb-0">
                <span class="fw-bold">Address: </span>@Model.Town , @Model.Country
            </p>
            @*
            <p class="mb-0"><span class="fw-bold">BikeID: </span>@Model.BikeId</p>
            *@
            <p class="mb-0"><span class="fw-bold">Shoes: </span>@Model.Shoes</p>
            <p class="mb-0"><span class="fw-bold">Helmet: </span>@Model.Helmet</p>
            <p class="mb-0"><span class="fw-bold">tEAMid: </span>@Model.Team</p>
            <p class="mb-0"><span class="fw-bold">Total Distance: </span>@Model.TotalDistance</p>
            <p class="mb-0"><span class="fw-bold">Total Ascent: </span>@Model.TotalAscent</p>


            

                @if (Model.Shoes == null ||
               Model.Helmet == null ||
               Model.Country == null ||
               Model.Town == null ||
               Model.ProfileImageUrl == null)
                {
                    <a asp-controller="User" asp-action="Edit" asp-route-userId="@Model.Id" class="btn btn-info btn-rounded">Complete</a>
                }
                else
                {
                <a asp-controller="User" asp-action="Edit" asp-route-bikeId="@Model.Id" class="btn btn-info btn-rounded">Edit Profile</a>
                }

            

        </div>

        <div>


            <hr />

            <div>

                <h3 class="card-title text-center">User Bikes </h3>
                <a asp-controller="Bike" asp-action="Add" class="btn btn-warning">Add bike</a>

            </div>



            @foreach (var bike in Model.UserBikes)
            {
                <hr />
                <h3 class="card-title text-center">@bike.FrameBrand, @bike.BikeType </h3>

                <p class="mb-0"><span class="fw-bold">BikeType: </span>@bike.BikeType</p>
                <p class="mb-0"><span class="fw-bold">FrameSize: </span>@bike.FrameSize</p>
                <p class="mb-0"><span class="fw-bold">FrameBrand: </span>@bike.FrameBrand</p>
                <p class="mb-0"><span class="fw-bold">WheelSize: </span>@bike.WheelSize</p>
                <p class="mb-0"><span class="fw-bold">WheelBrand: </span>@bike.WheelBrand</p>
                <p class="mb-0"><span class="fw-bold">DriveTrain: </span>@bike.Drivetrain</p>
                <p class="mb-0"><span class="fw-bold">Fork: </span>@bike.Fork</p>

                <a asp-controller="Bike" asp-action="Edit" asp-route-bikeId="@bike.Id" class="btn btn-info btn-rounded">Edit</a>
                <a asp-controller="Bike" asp-action="Remove" asp-route-bikeId="@bike.Id" class="btn btn-info btn-rounded">Remove bike</a>



            }

        </div>




        <div>
            @*<div>
            @await Html.PartialAsync("_AllCommentsPartial",modelComments)
            </div>*@

            @*  <div>
            <form method="post" asp-controller="Comment" asp-action="Add">
            <input hidden="hidden" name="eventId" value="@Model.Id" />
            <div class="mb-3">
            <label for="commentBody" class="form-label">Example textarea</label>
            <textarea class="form-control" name="commentBody" value="@Model.ActivityType" rows="3"></textarea>
            </div>
            <div class="form_grp">
            <button type="submit" class="btn btn-primary" id="submit">Добави</button>
            </div>
            </form>

            </div>*@

        </div>

        <a asp-controller="Comment" asp-action="Add" class="btn btn-warning mb-2 w-100 p-3 fw-bold" asp-route-eventId="@Model.Id">Comment</a>
        <a asp-controller="Event" asp-action="All" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Back to All Events</a>


        @*
        <div>
        <h5>Participants:</h5>
        @foreach (var ep in Model.EventsParticipants)
        {
        <div class="row">

        <p class="mb-0"><span class="fw-bold"> </span>@ep.ProfileImageUrl</p>
        <p class="mb-0"><span class="fw-bold"> </span>@ep.Name</p>
        <p class="mb-0"><span class="fw-bold"> </span>@ep.Id</p>
        </div>

        }
        </div>

        @if (User.Identity?.Name == Model.OrganizerUsername)
        {
        <a asp-controller="Event" asp-action="Edit" asp-route-eventId="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
        }
        else
        {
        if (Model.EventsParticipants.All(ep => ep.Name != User.Identity?.Name))
        {
        <a asp-route-eventId="@Model.Id" asp-controller="Event" asp-action="Join" class="btn btn-warning mb-2 w-100 p-3 fw-bold">join Event</a>
        }
        else
        {
        <a asp-route-eventId="@Model.Id" asp-controller="Event" asp-action="Leave" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Leave Event</a>
        }
        }
        *@
    </div>
</div>