@using BikingBuddy.Services.Contracts
@model UserDetailsViewModel
@inject IUserService UserService

<div>
    @await Html.PartialAsync("_UserTopBannerPartial")
</div>

<hr/>
<div class=" text-center ">
    <h3 class=""> Welcome, @Model.Name</h3>

</div>
<hr/>


<div class="ek-row">
<div class="card col-3 ek-containers-margin" @*style="width: 18rem;"*@>
    <div class="align-self-center mt-5">

        <img src=@Model.ProfileImageUrl
             alt=""
             style="width: 250px; height: 250px"
             class="rounded-circle"/>
    </div>
    <div class="card-body">
        <h3 class="card-title text-center"> @Model.Name</h3>

        <p class="mb-0">
            <span class="fw-bold">Address: </span> @Model.Town , @Model.Country
        </p>

        <hr/>

        <h3 class="card-title text-center">Team</h3>

        @if (Model.TeamName != null)
        {
            <p class="mb-0">
                <span class="fw-bold">Team: </span><a asp-area="" asp-controller="Team" asp-action="Details" asp-route-teamId="@Model.TeamId"> @Model.TeamName </a>
            </p>
        }
        else
        {
            <span class="fw-bold">Team: You are not in a team? </span>
            <br/>
            <span class="fw-bold">Don't ride alone, find your Biking Buddy </span>
            <a asp-area="" asp-controller="Team" asp-action="All"> here! </a>
        }

        <hr/>

        <h3 class="card-title text-center">Equipment</h3>


        <p class="mb-0">
            @if (!string.IsNullOrEmpty(Model.Helmet))
            {
                <span class="">Helmet: </span>
                <span class="font-weight-bolder font-italic">@Model.Helmet</span>
                <!-- Button trigger modal -->
                <a type="button" class="fw-bold" data-toggle="modal" data-target="#Modal_@Model.Id">
                    Edit
                </a>
            }
            else
            {
                <span class="font-weight-bolder font-italic">Shoes: </span>

                <!-- Button trigger modal -->
                <a type="button" class="fw-bold" data-toggle="modal" data-target="#Modal_@Model.Id">
                    Add your equipment here!
                </a>
            }
        </p>
        <p class="mb-0">
            @if (!string.IsNullOrEmpty(Model.Shoes))
            {
                <span class="fw-bold">Shoes: </span>
                <span class="font-weight-bolder font-italic">@Model.Shoes</span>
                <a type="button" class="fw-bold" data-toggle="modal" data-target="#Modal_@Model.Id">
                    Edit
                </a>
            }
            else
            {
                <span class="fw-bold">Shoes: </span>

                <!-- Button trigger modal -->
                <a type="button" class="fw-bold" data-toggle="modal" data-target="#Modal_@Model.Id">
                    Add your equipment here!
                </a>
            }
        </p>
         <hr/>
        
                
                <h3 class="card-title text-center">My Statistic</h3>
                <ul class="list-group list-group-flush">
        
                    <li class="list-group-item">
        
                        <div class="stats w3-left" text-align: -webkit-center>
                            <div class="row w3l-stats-section stats-con">
                                <div class=" stats_info team-stats_info  counter_grid">
                                    <i class="far fa-map-signs  team-stats_info" style="color: #afafaf;margin-top: 12px;"></i>
                                    <p class="counter">@Model.TotalDistance </p>
                                    <h3 class="" style="color: #afafaf">Total Distance</h3>
                                </div>
        
                            </div>
                        </div>
                        <div class="stats w3-left" text-align: -webkit-center>
                            <div class="row w3l-stats-section stats-con">
                                <div class=" stats_info team-stats_info  counter_grid">
                                    <i class="far fa-arrow-up team-stats_info" style="color: #afafaf;margin-top: 12px;"></i>
                                    <p class="counter">@Model.TotalAscent </p>
                                    <h3 class="" style="color: #afafaf">Total Ascent</h3>
                                </div>
        
                            </div>
                        </div>
                        <div class="stats w3-left" text-align: -webkit-center>
                            <div class="row w3l-stats-section stats-con">
                                <div class=" stats_info team-stats_info  counter_grid">
                                    <i class="far  fa-flag-checkered team-stats_info" style="color: #afafaf;margin-top: 12px;"></i>
                                    <p class="counter">@Model.CompletedEvents </p>
                                    <h3 class="" style="color: #afafaf">Completed Events</h3>
                                </div>
        
                            </div>
                        </div>
                    </li>
        
        
                </ul>
        <hr/>
        
        <h3 class="card-title text-center">My Bikes</h3>

        @if (Model.UserBikes.Any())
        {
            <ul>

                @foreach (BikeDetailsViewModel bike in Model.UserBikes)
                {
                    <li>
                        <h5 class="card-title text-center">@bike.FrameBrand, @bike.FrameSize</h5>

                        <p class="font-weight-bolder font-italic">@bike.BikeType</p>

                        <p class="fw-bold">Drivetrain: <span class="font-weight-bolder font-italic">@bike.Drivetrain</span></p>

                        <p class="fw-bold">Fork: <span class="font-weight-bolder font-italic">@bike.Fork</span> </p>

                        <p class="fw-bold">Wheels: <span class="font-weight-bolder font-italic">@bike.WheelBrand, @bike.WheelSize</span></p>
                        
                        
                        <p style="text-align-last: end;" ><a type="button" class="text-right" data-toggle="modal" data-target="#EditBike_@bike.Id"> Edit</a></p>
                        

                        <hr/>
                    </li>
                    
                    <!-- Edit Bike Modals  -->
                    <div class="modal fade" id="EditBike_@bike.Id" tabindex="-1" role="dialog" aria-labelledby="EditBike_@bike.Id" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="color: black;" id="EditBike_@bike.Id">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
    
    
                                    <div>
                                        @await Html.PartialAsync("_EditBikePartial", bike)
                                    </div>
    
    
                                </div>
    
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </ul>
        }
        else
        {
            <h5 class="card-title text-center">Show us your special bike!</h5>
            <br/>
            <a type="button" class="fw-bold text-right" data-toggle="modal" data-target="#Addbike_@Model.Id"> Add your first bike here! </a>
        }
 <a type="button" class="fw-bold text-center" data-toggle="modal" data-target="#Addbike_@Model.Id"> Add another bike </a>

       
        <div class="card-body">
            @if (User.GetId() == Model.Id || User.IsAdmin())
            {
                <h3 style="text-align: center; margin-bottom: 1rem"> Profile Options</h3>

                <div class="row">
                    <a asp-controller="User" asp-action="Edit" class="card-link ml-2 mr-2" asp-route-userId="@Model.Id">Edit</a>
                    <form class="ml-2" method="post">
              @Html.AntiForgeryToken()
                        <a asp-controller="user" asp-action="Delete" asp-route-userId="@Model.Id" class="card-link ml-2 mr-2">Delete</a>
                    </form>
                </div>
            }

        </div>
    </div>
</div>
<div class="card col-8 ek-containers-margin">
    <div class="card-body">
        <h3 class="card-title text-center"> Upcoming Events </h3>
        @if (Model.UserUpcomingEvents.Any())
        {
            <div>
                @await Html.PartialAsync("_UserUpcomingPartial", Model.UserUpcomingEvents)
            </div>
            
        }
        else
        {
            <h5 class="card-title text-center"> You don't have any planned event! </h5>
            <a asp-controller="Event" asp-action="All" class="card-link ml-2 mr-2">Find your next journey here!</a>
        }
    </div>

    <div class="card-body">
        <h3 class="card-title text-center"> Completed Events </h3>

        @if (Model.UserCompletedEvents.Any())
        {
            <div>
                @await Html.PartialAsync("_userCompletedEventsPartial", Model.UserCompletedEvents)
            </div>
        }
        else
        {
            <h5 class="card-title text-center"> You don't have completed events yet! </h5>
            <p >You can marked your first completed event, the day after it finish!</p>
        }

    </div>

    <div class="card-body">
        <h3 class="card-title text-center"> My Events </h3>

        @if (Model.UserEvents.Any())
        {
            <div>
                @await Html.PartialAsync("_UserEventsPartial", Model.UserEvents)
            </div>
        }
        else
        {
            <h5 class="card-title text-center"> You don't have your events! </h5>
            <a asp-controller="Event" asp-action="Add" class="card-link ml-2 mr-2">You can create your first event here!</a>
        }

    </div>
    

    <section class="index-component p-3">
        <div class="w3layouts-services-heading ">
            <h2>Top Events</h2>
        </div>
        @await Component.InvokeAsync("TopEvents")

        <div class="row w3ls-text  justify-content-end">
            <a class="btn btn-primary btn-white btn-style mt-lg-1 mt-4" asp-controller="Event" asp-action="All">Find More rides...</a>
        </div>
    </section>

    <!-- Add/Edit Equipment Modals  -->
    <div class="modal fade" id="Modal_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="Modal_@Model.Id" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: black;" id="Modal_@Model.Id">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <form asp-action="Equipment" method="post">


                        <div class="mb-3">
                            <label asp-for="@Model.Helmet" class="form-label-add-edit">Helmet</label>
                            <input asp-for="@Model.Helmet" class="form-control" aria-required="true" rows="5"/>
                            <span asp-validation-for="Helmet" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.Shoes" class="form-label-add-edit">Shoes</label>
                            <input asp-for="@Model.Shoes" class="form-control" aria-required="true"/>
                            <span asp-validation-for="@Model.Shoes" class="text-danger"></span>
                        </div>
                        <input class="btn btn-primary" asp-for="@Model.Id" type="hidden"/>
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Bike Modals  -->
    <div class="modal fade" id="Addbike_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="Addbike_@Model.Id" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: black;" id="Addbike_@Model.Id">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div>
                        @await Html.PartialAsync("_AddBikePartial", new AddBikeViewModel() { })
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

   
</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}