@model EventDetailsViewModel
@{
    ViewBag.Title = "Event Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <img class="img-fluid"  style="width: 18rem;"
                 src="@Model.EventImageUrl" alt="Book Image">
            <h3 class="card-title text-center">@Model.Title</h3>
            <p class="mb-0">
                <span class="fw-bold">Location: </span>@Model.Town , @Model.Country
                @if (string.IsNullOrEmpty(Model.Municipality))
                {
                    @Html.Raw(@Model.Municipality)
                }
            </p>

            <p class="mb-0"><span class="fw-bold">Type: </span>@Model.ActivityType</p>
            <p class="mb-0"><span class="fw-bold">Description: </span>@Model.Description</p>
            <p class="mb-0"><span class="fw-bold">Starting time: </span>@Model.Date</p>
            <p class="mb-0"><span class="fw-bold">Organiser: </span>@Model.Organizer</p>
            <p class="mb-0"><span class="fw-bold">Total Distance: </span>@Model.Distance</p>
            <p class="mb-0"><span class="fw-bold">Total Ascent: </span>@Model.Ascent</p>


        </div>

        <a asp-controller="Event" asp-action="All" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Back to All Events</a>
        @if (User.Identity?.Name == Model.Organizer)
        {
            <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
        }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}