
@model EventDetailsViewModel


@{
    var modelComments = @Model.EventComments;
}


<div class="row">

<h2 class="text-center">Details</h2>
<hr />
    <div class="card w-100">
        <div class="card-body">
            <img class="img-fluid" style="width: 18rem;"
                 src="@Model!.EventImageUrl" alt="Book Image">
            <h3 class="card-title text-center">@Model.Title</h3>
            <p class="mb-0">
                <span class="fw-bold">Location: </span>@Model.Town , @Model.Country 
            </p>

            <p class="mb-0"><span class="fw-bold">Type: </span>@Model.ActivityType</p>
            <p class="mb-0"><span class="fw-bold">Description: </span>@Model.Description</p>
            <p class="mb-0"><span class="fw-bold">Starting time: </span>@Model.Date</p>
            <p class="mb-0"><span class="fw-bold">Organiser: </span>@Model.OrganizerName</p>
            <p class="mb-0"><span class="fw-bold">Total Distance: </span>@Model.Distance</p>
            <p class="mb-0"><span class="fw-bold">Total Ascent: </span>@Model.Ascent</p>


        </div>


        <div>
            <div>
                @await Html.PartialAsync("_AllCommentsPartial",modelComments)
            </div>
            
            <div>
                <form method="post" asp-controller="Comment" asp-action="Add">
                    <input hidden="hidden" name="eventId" value="@Model.Id"/>
                    <div class="mb-3">
                        <label for="commentBody" class="form-label">Example textarea</label>
                        <textarea class="form-control" name="commentBody" value="@Model.ActivityType" rows="3"></textarea>
                    </div>
                    <div class="form_grp">
                        <button type="submit" class="btn btn-primary" id="submit">Добави</button>
                    </div>
                </form>
                
            </div>

        </div>

        <a asp-controller="Comment" asp-action="Add" class="btn btn-warning mb-2 w-100 p-3 fw-bold" asp-route-eventId="@Model.Id">Comment</a>
        <a asp-controller="Event" asp-action="All" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Back to All Events</a>



        <div>
            <h5>Participants:</h5>
            @foreach (var ep in Model.EventsParticipants)
            {
                <div class="row">

                    <p class="mb-0"><span class="fw-bold"> </span>@ep.ProfileImageUrl</p>
                    <p class="mb-0"><span class="fw-bold"> </span>@ep.Name</p>
                    <p class="mb-0"><span class="fw-bold"> </span>@ep.Id</p>
                </div>
               
            }
        </div>

        @if (User.Identity?.Name == Model.OrganizerUsername)
        {
            <a asp-controller="Event" asp-action="Edit" asp-route-eventId="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
        }
        else
        {
            if (Model.EventsParticipants.All(ep => ep.Name != User.Identity?.Name))
            {
                <a asp-route-eventId="@Model.Id" asp-controller="Event" asp-action="Join" class="btn btn-warning mb-2 w-100 p-3 fw-bold">join Event</a>
            }
            else
            {
                <a asp-route-eventId="@Model.Id" asp-controller="Event" asp-action="Leave" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Leave Event</a>
            }
        }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}