@using BikingBuddy.Web.Infrastructure.Extensions
@model ICollection<AllEventsViewModel>
@{
    ViewBag.Title = "All of the Events Around You";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<div class="text-center row">

    @if (!Model.Any())
    {
        <h2>There is no events added!</h2>
    }
    else
    {
        @foreach (var e in Model)
        {
            <div class="card col-4" style="width: 20rem;">
                <img class="card-img-top" style="width: 18rem;"
                     src="@e.EventImageUrl" alt="Book Image">
                <div class="card-body">

                    <h5 class="card-title mt-1">@e.Title</h5>
                    <p class="mb-0">Activity Type: @e.Town</p>
                    <p class="mb-0">Distance: @e.Distance</p>
                    <p class="mb-0">Date: @e.Date</p>
                    <p>Activity Type: @e.ActivityType</p>
                </div>


                <a asp-controller="Event" asp-action="Details" asp-route-eventId="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">View Details</a>
                @if (User.Identity?.Name == e.OrganizerUsername || User.IsAdmin())
                {
                    <a asp-controller="Event" asp-action="Edit" asp-route-eventId="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
                    <a asp-controller="Event" asp-action="Delete" asp-route-eventId="@e.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Edit</a>
                }
                else
                {
                    <form class="input-group-sm " asp-controller="Event" asp-action="Leave" asp-route-eventId="@e.Id">
                        <input type="submit" value="Leave Event" class="fs-6 btn btn-warning mb-3 w-100 p-3 fw-bold"/>
                    </form>
                }
            </div>
        }
    }


    <a asp-controller="Event" asp-action="Add" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Create new Event</a>
    <a asp-controller="Event" asp-action="Mine" class="btn btn-warning mb-2 w-100 p-3 fw-bold">My Events</a>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}