@model ICollection<AllTeamsViewModel>
@{
    ViewBag.Title = "All Teams";
}

<div>
    @await Html.PartialAsync("_TeamTopBannerPartial")
</div>

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<div class="text-center row">

    @if (!Model.Any())
    {
        <h5 class="alert-danger">There is no Teams added!</h5>
    }
    else
    {
        <div class="container">
            <div class="card-deck">
                @foreach (var e in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 event-card">
                            <img src=@e.TeamImageUrl class="card-img-top event-card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@e.Name</h5>
                                <p class="card-text">Country: @e.Country</p>
                                <p class="card-text">Members: @e.TeamMembersCount</p>
                            </div>
                            <a class="btn btn-primary m-1" asp-action="Details" asp-route-teamId="@e.Id">View Details</a>
                        </div>
                    </div>
                }

            </div>
        </div>


        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>Team Name</th>
                <th>Country</th>
                <th>Members Count</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var team in Model)
            {
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src=@team.TeamImageUrl
                                 alt=""
                                 style="width: 45px; height: 45px"
                                 class="rounded-circle"/>
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@team.Name</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">@team.Country</p>
                    </td>

                    <td>
                        <p class="text-muted mb-0">@team.TeamMembersCount</p>
                    </td>

                    <td>
                        <a asp-controller="Team" asp-action="Details" asp-route-teamId="@team.Id" class="btn btn-info btn-rounded">Details</a>
                        <a asp-controller="Team" asp-action="Edit" asp-route-teamId="@team.Id" class="btn btn-warning btn-rounded">Edit</a>
                    </td>
                </tr>
            }


            </tbody>
        </table>


@*
                <a asp-controller="Event" asp-action="Details" asp-route-eventId="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">View Details</a>
                @if (User.Identity?.Name == e.OrganizerUsername)
                {
                    <a asp-controller="Event" asp-action="Edit" asp-route-eventId="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
                }
                else
                {
                    <form class="input-group-sm " asp-controller="Event" asp-action="Join" asp-route-eventId="@e.Id">
                        <input type="submit" value="Join the Event" class="fs-6 btn btn-warning mb-3 w-100 p-3 fw-bold" />
                    </form>
                }*@
    }


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}