@model ICollection<AllTeamsViewModel>
@{
    ViewBag.Title = "All Teams";
}

<div>
    @await Html.PartialAsync("_TeamTopBannerPartial")
</div>

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<div class="text-center row">

    @if (!Model.Any())
    {
        <h5 class="alert-danger">There is no Teams added!</h5>
    }
    else
    {
        <div class="container">
            <div class="card-deck">
                @foreach (var e in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 event-card">
                            <img src=@e.TeamImageUrl class="card-img-top event-card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@e.Name</h5>
                                <p class="card-text">Country: @e.Country</p>
                                <p class="card-text">Members: @e.TeamMembersCount</p>
                            </div>
                            <a class="btn btn-primary m-1" asp-action="Details" asp-route-teamId="@e.Id">View Details</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}