@model ICollection<CommentViewModel>


<section style=" ">
    <div class="container  text-dark">
        <div class="">
            <div class=" ">

                @foreach (var c in Model)
                {
                    <div class="d-flex flex-start mb-4 ek-card-comment">
                        <img class="rounded-circle shadow-1-strong me-3"
                             src=@c.UserImageURL alt="avatar" width="65"
                             height="65"/>
                        <div class="card w-100">
                            <div class="card-body p-4">
                                <div class="">
                                    <h5>@c.UserName</h5>
                                    <p class="small">@c.CreatedOn</p>
                                    <p class="mt-2">
                                        @c.CommentBody
                                    </p>

                                    <div class="d-flex justify-content-end align-items-center">

                                        <a asp-action="Delete" 
                                           asp-controller="Comment" 
                                           asp-route-commentId="@c.Id" 
                                           asp-route-eventId="@c.EventId" class="link-muted"><i class="fas fa-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                }


                <form asp-controller="Comment" asp-action="Add" method="post" asp-route-eventId="@ViewData["EventId"]">
                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                        <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3"
                                 src="@ViewData["UserPhoto"]" alt="avatar" width="65"
                                 height="65"/>
                            <div class="form-outline w-100">
                                <textarea class="form-control" name="commentBody"  id="textAreaExample" rows="4" for="CommentBody"
                           style="background: #fff;"></textarea>
                                <label class="form-label" for="textAreaExample">Message</label>
                            </div>
                        </div>
                        <div class="float-end mt-2 pt-1">
                            <button type="buttom" class="btn btn-primary btn-sm">Post comment</button>
                            <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

