@model IList<GalleryPhotoModel>


<h5>Team Gallery:</h5>
<div id="carouselExampleIndicators" class="carousel slide mt-2 " data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count; i++)
        {
            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i == 0 ? "active" : "") "></li>
        }
    </ol>
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="@(i == 0 ? "carousel-item active" : "carousel-item") ">
                <img class="d-block w-100" src="@Model[i].URL" alt="@Model[i].Name" style="width: 500px; height:333px;">
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>